<a href="https://colab.research.google.com/github/Vishnu24122004/Colaboratory.py/blob/main/RA2211042010043.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("Vishnu")

Vishnu

In [2]:
20+80

100

In [3]:
2*5

10

In [4]:
x = 10
y = 2
x*y

20

In [6]:
x +=2

In [7]:
x = "yeshwin"
print(x)

yeshwin

In [8]:
_x = "loki"
print(_x)

loki

In [9]:
x1 = "akshay"
print(x1)

akshay

In [12]:
x = "cat"
y = "dog"
z = "rat"
print(x+y+z)

catdograt

In [14]:
x = "5"
y = "yesh"
print(x+y)

5yesh

In [15]:
x = 5
print(type(x))

<class 'int'>

In [16]:
x = "Hello World"

#display x:
print(x)

#display the data type of x:
print(type(x))

Hello World
<class 'str'>

In [17]:
x = 20.5

#display x:
print(x)

#display the data type of x:
print(type(x))

20.5
<class 'float'>

In [18]:
x = 1j

#display x:
print(x)

#display the data type of x:
print(type(x))

1j
<class 'complex'>

In [19]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

In [20]:
a = 200
b = 33

if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

In [21]:
print(bool("Hello"))
print(bool(15))

True
True

In [22]:
x = 5

x%=3

print(x)

2

In [23]:
x = 5

x **= 3

print(x)

125

In [24]:
thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

In [25]:
thislist = ["apple", "banana", "cherry"]
print(thislist[1])

banana

In [26]:
thislist = ["apple", "banana", "cherry"]
print(thislist[-1])

cherry

In [27]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

['cherry', 'orange', 'kiwi']

In [29]:
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry']

In [30]:
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

In [31]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")
print(thislist)

['apple', 'orange', 'banana', 'cherry']

In [32]:
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

In [34]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

['apple', 'banana', 'cherry']

In [35]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [36]:
a = 33
b = 200
if b > a:
  print("b is greater than a")

b is greater than a

In [37]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

In [ ]:
def my_function():
  print("Hello from a function")

In [38]:
username = input("Enter username:")
print("Username is: " + username)

Enter username:vishnu
Username is: vishnu

In [40]:
price = 49
txt = "The price is {} dollars"
print(txt.format(price))

The price is 49 dollars

In [42]:
def greeting(name):
  print("Hello, " + name)

In [45]:

i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

In [46]:
x = 5

x /= 3

print(x)

1.6666666666666667

In [ ]:
x = 5

x//=3

print(x)

In [47]:
x = 5

x &= 3

print(x)

1

In [48]:
x = 5

x |= 3

print(x)

7

In [49]:
x = 5

x ^= 3

print(x)

6

In [50]:
x = 5

x >>= 3

print(x)

0

In [53]:
x = int(1)    
y = int(2.8) 
z = int("3")

In [54]:
x = float(1)
y = float(2.8)
z = float("3")
w = float("4.2")

In [55]:
x = min(5, 10, 25)
y = max(5, 10, 25)

print(x)
print(y)

5
25

In [56]:
x = min(5, 10, 25)
y = max(5, 10, 25)

print(x)
print(y)

5
25

In [57]:
x = abs(-7.25)

print(x)

7.25

In [58]:
def myfunc():
  x = 300
  print(x)

myfunc()

300

In [59]:
import datetime

x = datetime.datetime.now()
print(x)

2022-11-26 05:16:22.338960

In [60]:
import datetime

x = datetime.datetime.now()

print(x.year)
print(x.strftime("%A"))

2022
Saturday